@media (max-width: 992px) {
    .header {
        padding: 0 20px;
        &__logo {
            width: 200px;
        }
    }
    .promo {
        &__wrapper {
            padding: 0 20px;
        }
        &__icons {
            margin-top: 45px;
        }
    }
    .advantages {
        &__items {
            padding: 0 20px;
            margin-top: 45px;
        }
        &__item {
            max-width: 215px;
        }
    }
    .consultation {
        padding: 0 20px;
        .title {
            font-size: 30px;
        }
    }
    .carousel {
        width: 70%;
        &__slide {
            height: 70%;
        }
    }
    .reviews {
        padding-left: 20px;
    }
}
@media (max-width: 768px) {
    .header {
        padding: 0 15px;
        &__logo {
            width: 160px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
        button {
            width: 135px;
            font-size: 11px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 60px;
            align-items: center;
        }
        &__header {
            font-size: 36px;
        }
        &__subheader {
            font-size: 20px;
            margin-top: 10px;
        }
    }
    .advantages {
        &__items {
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
        }
        &__item {
            max-width: 90%;
            &:not(:first-child) {
                margin-top: 30px;
            }
        }
        &__subtitle {
            margin-top: 10px;
        }
        &__descr {
            margin-top: 10px;
        }
    }
    .consultation {
        .title {
            font-size: 24px;
        }
    }
    .carousel {
        width: 60%;
        &__slide {
            height: 60%;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 45px;
        }
        &__tab {
            width: 170px;
            font-size: 16px;
        }
    }
    .reviews {
        padding-left: 20px;
        &__img {
            width: 140px;
            height: 140px;
        }
        &__info {
            margin-left: 30px;
        }
        &__item {
            &:nth-last-child(-n+2) {
                margin-top: 70px;
            }
        }
        &__name {
            font-size: 16px;
        }
        &__text {
            font-size: 15px;
        }
    }
}
@media (max-width: 576px) {
    .header {
        padding: 0 10px;
        &__official {
            display: none;
        }
        &__phone {
            font-size: 14px;
        }
        button {
            width: 125px;
            font-size: 10px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 45px;
            button {
                margin-top: 35px;
                width: 280px;
            }
        }
        &__header {
            text-align: center;
            font-size: 30px;
        }
        &__subheader {
            text-align: center;
            font-size: 18px;
        }
        &__icons {
            width: 100%;
            margin-top: 30px;
        }
    }
    .advantages {
        &__item {
            max-width: 100%;
        }
    }
    .consultation {
        padding: 60px 20px;
        .title {
            font-size: 20px;
            text-align: center;
            line-height: 35px;
        }
        &__descr {
            font-size: 17px;
            margin-top: 45px;
            text-align: center;
        }
        .feed-form {
            width: 100%;
        }
    }
    .carousel {
        width: 90%;
        &__slide {
            height: 90%;
        }
        &__prev {
            display: none;
        }
        &__next {
            display: none;
        }
    }
    .catalog {
        .title {
            font-size: 25px;
        }
        &__content {
            margin-top: 45px;
        }
        &__tabs {
            margin-top: 45px;
            flex-wrap: wrap;
        }
        &__tab {
            width: 130px;
            font-size: 13px;
            margin-top: 8px;
        }
    }
    .reviews {
        padding: 0 20px;
        .title {
            font-size: 25px;
        }
        &__wrapper {
            margin-top: 50px;
        }
        &__img {
            width: 120px;
            height: 120px;
        }
        &__info {
            margin-top: 20px;
            margin-left: 0;
            padding-right: 0;
        }
        &__item {
            flex-direction: column;
            align-items: center;
            &:nth-last-child(-n+2) {
                margin-top: 70px;
            }
        }
        &__name {
            font-size: 16px;
            text-align: center;
        }
        &__progress {
            text-align: center;
        }
        &__text {
            font-size: 15px;
        }
    }
}